@charset "UTF-8";
/* Estilo Gerak */
.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}

:root {
  --corlilas: #6a1b9a;
  --cortexto: #37474f;
  --corcinzaclaro: #efe5d9;
  --corazulclaro: #d3eaf0;
  --corazul: #9cb5b1;
  --corfundoclaro: #f8f4e9;
  --corcoral: #ff7043;
}
h1 {
  color: var(--corcoral);
  font-family: "Noto Serif Display", serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-align: start;
}
h2 {
  font-family: "Noto Serif Display", serif;
  font-weight: 600;
  font-size: 32px;
}
h2.titulo {
  color: var(--cortexto);
  text-align: center;
  font-family: "Noto Serif Display", serif;
  font-weight: 600;
  font-size: 42px;
}
h3 {
  font-family: "Noto Serif Display", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 27px;
}
h4 {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--corlilas);
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  font-size: 20px;
}
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}
a {
  color: #6a1b9a;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
a:hover {
  color: #ff7043;
  transform: scale(1.05);
}
span {
  color: #ff7043;
  text-decoration: none;
  text-align: center;
}
.borda {
  width: 100%;
  height: 2px;
  background-color: var(--corlilas);
  margin: 15px 0;
}
body {
  background-color: wheat;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(100px);
}
.interface {
  margin: 0 auto;
}
.btn-contato button {
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: var(--corlilas);
  transition: 0.2s;
  color: #fff4e8;
}
.btn-contato button:hover {
  box-shadow: 1px 1px 5px 1px #ff6f43b3;
  background-color: #ff7043;
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}
.btn-social {
  gap: 60px;
  display: inline-flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.btn-social button {
  background-color: var(--corlilas);
  color: var(--corfundoclaro);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 34px;
}
.btn-social button:hover {
  box-shadow: 1px 1px 5px 1px #ff6f43bc;
  background-color: #ff7043;
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}
.logo a {
  font-family: "Birthstone", cursive;
  font-size: 48px;
  padding: 5px 15px;
  color: #6a1b9a;
  line-height: 40px;
  transition: 0.2s;
}
.logo a:hover {
  color: #ff7043;
  transform: scale(1.05);
}

/* Estilo do Cabeçalho */
header {
  max-width: 1350px;
  backdrop-filter: blur(25px);
  position: sticky;
  margin: auto;
  top: 0;
  z-index: 1001;
  /* position: sticky;
  margin: auto;
  top: 0;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 5px 0px#80808063; */
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 5px 5px 0px#80808063;
  padding: 10px 4%;
  max-height: 80px;
}
header .menu-desktop a {
  color: var(--corlilas);
  text-decoration: none;
  display: inline-block;
}
header .menu-desktop a:hover {
  color: var(--corcoral);
  transform: scale(1.05);
  transition: 0.2s;
}

header nav ul {
  list-style-type: none;
  display: flex;
  width: 585px;
  height: 25px;
  flex-direction: row;
  justify-content: space-around;
}
header .menu-desktop nav ul li {
  display: inline-block;
  padding: 0 40px;
}
/* Estilo Menu Mobile */
.btn-abrir i {
  display: none;
  color: #6a1b9a;
  font-size: 38px;
  transition: 0.3s;
}
.btn-abrir i:hover {
  color: #ff7043;
}
.overlay-menu {
  background-color: #efe5d9a2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1900;
  display: none;
  transition: 1s;
}
.menu-mobile {
  background-color: #691b9a8a;
  height: 100%;
  box-shadow: rgba(2, 2, 2, 0.24) 1px 5px 5px 1px;
  width: 100%;
  max-height: 650px;
  min-height: 390px;
  position: absolute;
  top: -410px;
  right: 0;
  left: 0;
  z-index: 2000;
  border-radius: 15px;
  overflow: hidden;
  transition: all 2s ease;
}
.menu-mobile.abrir-menu-mobile {
  top: 0;
}
.menu-mobile.abrir-menu-mobile ~ .overlay-menu {
  display: block;
}

.menu-mobile nav ul {
  text-align: right;
}
.menu-mobile nav ul li a {
  color: var(--corfundoclaro);
  font-size: 20px;
  display: block;
  padding: 20px 8%;
}
.menu-mobile nav ul li:hover {
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.311);
  transform: scale(1.1);
  background-color: #6a1b9ac0;
}
.btn-fechar {
  font-size: 25px;
  color: var(--corfundoclaro);
  padding: 20px 5%;
  text-align: end;
}
.btn-contato-mobile {
  margin: auto;
}
.btn-contato-mobile button {
  padding: 10px 4%;
  background-color: var(--corlilas);
  color: var(--corfundoclaro);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  color: #fff4e8;
  display: none;
}

.btn-contato-mobile button:hover {
  box-shadow: 1px 1px 5px 1px #ff6f4375;
  background-color: #ff7043;
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}
/* Estilo do Topo do Site */
main {
  max-width: 1350px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin: auto;
}
section.topo-do-site {
  padding: 40px 4%;
  background-image: linear-gradient(
    70deg,
    transparent,
    #c12b78,
    #802e87,
    transparent
  );
}
section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
section.topo-do-site .txt-topo-do-site {
  display: inline-flex;
  row-gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffd1;
  border-radius: 20px;
  padding: 20px 80px;
  box-shadow: 1px 1px 5px 5px #0000002b;
}
section.topo-do-site .txt-topo-do-site h4 {
  position: relative;
  top: 40px;
}
.topo-do-site img {
  position: relative;
  animation: flutuar 3s ease-in-out alternate;
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}
/* Estilo das Especialidades */

section.especialidades {
  padding: 80px 4%;
  background-color: white;

  box-shadow: inset 1px 5px 5px 1px #00000042, inset -2px -2px 5px 2px #00000042;
}
section.especialidades .flex {
  gap: 40px;
}
.especialidades .especialidades-box {
  padding: 40px;
  color: var(--cortexto);
  border: none;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: 0px 5px 10px 0px#80808063;
  transition: 0.4s;
  max-height: 250px;
  width: 33%;
  overflow: hidden;
}
.especialidades .especialidades-box p {
  visibility: hidden;
  font-size: 24px;
  font-weight: 400;
  opacity: 0;
  transition: 0.8s;
}

.especialidades .especialidades-box:hover {
  color: white;
  background-color: var(--corlilas);
  transition: 0.2s;
  max-height: none;
  width: 200%;
  transform: scale(1.05);
  box-shadow: 0px 5px 10px 0px #80808063;
  i {
    color: var(--corfundoclaro);
  }
  p {
    opacity: 1;
    visibility: visible;
  }
}
.especialidades .especialidades-box i {
  font-size: 58px;
  color: #ff7043;
}
.especialidades .especialidades-box h3 {
  margin: 15px 0;
  text-align: start;
}

/* Estilizar Sobre */
.sobre {
  opacity: 0;
  transition: 1s;
  transform: translateX(400px);
  align-items: center;
  gap: 60px;
  justify-content: space-evenly;
}
.sobre.animado {
  transform: translateY(0px);
  opacity: 1;
}
section.sectionsobre {
  padding: 80px 4%;
  background-image: linear-gradient(180deg, #c12a78, transparent);
}
section.sobre .flex {
  align-items: center;
  gap: 60px;
  justify-content: space-evenly;
}
#img-sobre {
  border-radius: 15px;
  box-shadow: 1px 1px 5px 1px #00000048;
}
.sobre .txt-sobre {
  border-radius: 20px;
  padding: 40px 60px;
  background-color: #ffffffd1;
  height: 650px;
  max-width: 800px;
  color: var(--cortexto);
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}
.sobre .txt-sobre h2 {
  text-align: start;
  font-size: 30px;
}
.sobre .txt-sobre span {
  text-align: start;
  font-size: 34px;
}

/* Estilizar Portifolio */
section.portifolio {
  background-image: linear-gradient(180deg, transparent, #812e87);
  padding: 80px 4%;
}
section.portifolio .interface h2 {
  color: var(--cortexto);
  text-align: center;
}
section.portifolio .interface p {
  margin-bottom: 60px;
  color: var(--cortexto);
  text-align: center;
}
section.portifolio .interface span,
a {
  color: var(--corlilas);
}
section.portifolio .flex {
  justify-content: space-around;
  gap: 80px;
}
.img-port {
  width: 360px;
  height: 460px;
  background-color: #6a1b9a;
  background-size: cover;
  background-position: 100% 0%;
  border-radius: 30px;
  cursor: pointer;
  transition: 2s;
  position: relative;
}
.img-port:hover {
  background-position: 100% 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #f8f4e9b0;
  color: var(--corlilas);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  opacity: 0;
  transition: 0.5s;
}
.overlay:hover {
  opacity: 1;
}
/* Estilizar Formulário */

section.formulario {
  background-image: linear-gradient(
    70deg,
    transparent,
    #c12b78,
    #802e87,
    transparent
  );

  padding: 80px 4%;
}
.form {
  background-image: linear-gradient(to bottom, #ffffffc0, #f8f4e9c2);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 1px 5px 5px 1px rgba(128, 128, 128, 0.346);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  display: flex;
}
.formulario {
  background-image: none;
  box-shadow: none;
}

.input-text {
  position: relative;
  margin: 20px 0;
}
.input-text label {
  position: absolute;
  left: 0;
  bottom: 5px;
  transition: all 0.3s;
  cursor: text;
}
.input {
  width: 100%;
  background-color: #f8f4e900;
  border: 0;
  border-bottom: 2px solid #6a1b9a;
  padding: 5px;
  font-size: 20px;
  font-family: "Noto Serif Display", serif;
  outline: 0;
  color: var(--cortexto);
}

form .input-text .input:focus ~ label,
form .input-text .input:valid ~ label {
  transform: translateY(-28px);
  font-size: 12px;
  color: #6a1b9add;
}
label {
  color: #6a1b9a;
}

.input-msg {
  position: relative;
  margin: 20px 0;
}
.input-msg label {
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: all 0.3s;
  cursor: text;
}

.cxtexto {
  width: 100%;
  background-color: #f8f4e900;
  border: 0;
  border-bottom: 2px solid #6a1b9a;
  padding: 5px;
  font-size: 20px;
  font-family: "Noto Serif Display", serif;
  outline: 0;
  color: var(--cortexto);
}
form .input-msg .cxtexto:not(:placeholder-shown) ~ label,
form .input-msg .cxtexto:focus ~ label {
  transform: translateY(-65px);
  font-size: 12px;
  color: #6a1b9add;
}

#flexform {
  justify-content: space-around;
}

textarea {
  resize: none;
}
form .btn-enviar {
  margin: 20px auto;
}

form .btn-enviar input {
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: var(--corlilas);
  transition: 0.2s;
  color: #fff4e8;
}
form .btn-enviar input:hover {
  box-shadow: 1px 1px 5px 1px #ff7043ac;
  background-color: #ff7043;
  color: white;
  transform: scale(1.05);
  transition: 0.2s;
}
/* Estilizar Baloes */
.flex-baloes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.frases {
  position: relative;
  background-image: linear-gradient(to bottom, #ffffffc0, #f8f4e9c2);
  border-radius: 20px 20px 0 20px;
  padding: 40px;
  box-shadow: 1px 5px 5px 1px rgba(128, 128, 128, 0.346);
  width: 50%;
  margin: auto;
}
.balao {
  position: relative;
  opacity: 0;
  transition: 1.5s;
  overflow: hidden;
  transform: translateX(520px);
}
.balao.animado {
  opacity: 1;
  transform: translateX(0px);
}
.txtbalao p {
  font-size: 18px;
  font-weight: 300;
}
.coribalao {
  border-radius: 0px 0px 0px 30px;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #6a1b9a;
  color: #f8f4e9;
}

/* Estilo Footer */
footer {
  background-color: white;
  padding: 5px 0;
}
footer .flex {
  justify-content: space-around;
}
.email {
  text-align: center;
}
@media screen and (max-width: 1040px) {
  /* Classe Geral */
  .flex {
    flex-direction: column;
  }

  /* Header */
  .menu-desktop,
  .btn-contato {
    display: none;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  h2 {
    font-size: 26px;
  }
  h2.titulo {
    font-size: 42px;
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }
  h4 {
    font-size: 20px;
    line-height: 18px;
  }
  p {
    font-weight: 400;
    font-size: 20px;
  }
  h6 {
    font-weight: 300;
    font-size: 12px;
  }
  #logo {
    display: none;
  }

  body {
    backdrop-filter: blur(100px);
    background-position: center;
  }
  .interface {
    max-width: 1200px;
    margin: 0 auto;
  }
  .btn-contato button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--corlilas);
    transition: 0.2s;
    color: #fff4e8;
  }
  .btn-contato button:hover {
    box-shadow: 1px 1px 5px 1px #ff6f439f;
    background-color: #ff7043;
    color: white;
    transform: scale(1.05);
    transition: 0.2s;
  }
  .btn-social {
    gap: 60px;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .btn-social button {
    background-color: var(--corlilas);
    color: var(--corfundoclaro);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    text-align: center;
    font-size: 34px;
  }
  .btn-social button:hover {
    box-shadow: 1px 1px 5px 1px #ff7043ac;
    background-color: #ff7043;
    color: white;
    transform: scale(1.05);
    transition: 0.2s;
  }
  .logo a {
    font-family: "Birthstone", cursive;
    font-size: 38px;
    padding: 5px 15px;
    color: #6a1b9a;
    transition: 0.3s;
    line-height: 40px;
  }
  .logo a:hover {
    color: #ff7043;
  }

  .logo {
    margin: auto;
    text-align: center;
  }
  .btn-abrir i {
    display: inline-block;
  }
  .btn-contato-mobile button {
    display: inline-block;
  }

  /* Estilo do Cabeçalho */
  header {
    padding: 0;
  }
  header nav ul {
    list-style-type: none;
    display: block;
    width: auto;
    height: auto;
    flex-direction: row;
  }

  /* Estilo do Topo do Site */
  main {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 1100px;
    margin: auto;
    backdrop-filter: blur(25px);
  }
  section.topo-do-site {
    padding: 40px 4%;
  }
  section.topo-do-site .btn-contato button {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--corlilas);
    transition: 0.2s;
    color: #fff4e8;
  }
  section.topo-do-site .flex {
    gap: 25px;
  }
  section.topo-do-site .txt-topo-do-site {
    row-gap: 20px;
    padding: 20px 6%;
  }
  section.topo-do-site .txt-topo-do-site h4 {
    top: 20px;
  }
  .topo-do-site img {
    max-width: 250px;
    max-height: 250px;
  }
  /* Estilo das Especialidades */

  section.especialidades {
    padding: 60px 4%;
  }
  section.especialidades .flex {
    gap: 20px;
    align-items: center;
  }
  .especialidades .especialidades-box {
    max-width: 90%;
    width: 100%;
  }
  .especialidades .especialidades-box .hover-effect:hover {
    color: var(--corfundoclaro);
    background-color: #6a1b9a;
    transition: 0.2s;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px 0px#80808063;
    i {
      color: var(--corfundoclaro);
    }
  }

  .especialidades .especialidades-box i {
    font-size: 28px;
  }
  /* Estilizar Sobre */
  .sobre {
    transform: translateX(300px);
  }
  section.sobre {
    padding: 60px 4%;
  }
  section.sobre .flex {
    gap: 30px;
    align-items: center;
  }
  #flexsobre {
    flex-direction: column;
    padding: 40px 0;
    background-color: #ffffff9e;
    border-radius: 20px;
  }
  #img-sobre {
    margin: auto;
    width: 250px;
    height: 313px;
  }
  .sobre .txt-sobre {
    padding: 40px 8%;
    gap: 30px;
    max-height: none;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
  }
  .sobre .txt-sobre h2 {
    font-size: 24px;
  }
  .sobre .txt-sobre span {
    font-size: 26px;
  }

  /* Estilizar Portifolio */
  section.portifolio {
    padding: 40px 4%;
  }
  section.portifolio .interface h2 {
    color: var(--cortexto);
  }
  section.portifolio .interface p {
    margin-bottom: 30px;
    color: var(--cortexto);
    text-align: center;
  }
  section.portifolio .flex {
    justify-content: space-around;
    align-items: center;
    gap: 40px;
  }
  .img-port {
    width: 260px;
    height: 360px;
  }
  .img-port .hover-effect:hover {
    background-position: 100% 100%;
  }

  /* Formulário */
  #flexform {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .form {
    min-width: 100%;
    margin: auto;
  }
  .balao {
    transform: translateX(250px);
  }
  /* Balões */
  .frases {
    width: 100%;
  }
  .form {
    padding: 20px;
  }
}
